body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#3f5efb, #aa46fb);
    font-family: "Roboto";
    font-weight: 100;
}
h1{
    font-weight: 100;
    text-align: center;
    font-size: 2.5rem;
}
main{
    background-color: white;
    width: 620px;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0px 15px 20px -10px rbga(0 0 0/ .6);
}
.game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 90px);
    gap: 1rem;
    perspective: 500px;
}
.card{
    position: relative;
    border: 2px solid red;
    border-radius: 6px;
    transform-style: preserve-3d;
    transition: transform .3s;
}
.card img{
    border-radius: 6px;
    max-width: 100%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card-front{
    transform: rotateY(180deg);
}
main:has(#check1:checked) .game .card1{
    transform: rotateY(180deg);
}
main:has(#check2:checked) .game .card2{
    transform: rotateY(180deg);
}
main:has(#check3:checked) .game .card3{
    transform: rotateY(180deg);
}
main:has(#check4:checked) .game .card4{
    transform: rotateY(180deg);
}
main:has(#check5:checked) .game .card5{
    transform: rotateY(180deg);
}
main:has(#check6:checked) .game .card6{
    transform: rotateY(180deg);
}
main:has(#check7:checked) .game .card7{
    transform: rotateY(180deg);
}
main:has(#check8:checked) .game .card8{
    transform: rotateY(180deg);
}
main:has(#check9:checked) .game .card9{
    transform: rotateY(180deg);
}
main:has(#check10:checked) .game .card10{
    transform: rotateY(180deg);
}
main:has(#check11:checked) .game .card11{
    transform: rotateY(180deg);
}
main:has(#check12:checked) .game .card12{
    transform: rotateY(180deg);
}
main:has(#check13:checked) .game .card13{
    transform: rotateY(180deg);
}
main:has(#check14:checked) .game .card14{
    transform: rotateY(180deg);
}
main:has(#check15:checked) .game .card15{
    transform: rotateY(180deg);
}
main:has(#check16:checked) .game .card16{
    transform: rotateY(180deg);
}

main:has(#check1:focus) .game .card1{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check2:focus) .game .card2{
    outline: 2px solid red;
    outline-offset: 2px;;
}
main:has(#check3:focus) .game .card3{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check4:focus) .game .card4{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check5:focus) .game .card5{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check6:focus) .game .card6{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check7:focus) .game .card7{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check8:focus) .game .card8{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check9:focus) .game .card9{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check10:focus) .game .card10{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check11:focus) .game .card11{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check12:focus) .game .card12{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check13:focus) .game .card13{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check14:focus) .game .card14{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check15:focus) .game .card15{
    outline: 2px solid red;
    outline-offset: 2px;
}
main:has(#check16:focus) .game .card16{
    outline: 2px solid red;
    outline-offset: 2px;
}
.controls{
    /* display: none; #Não usar, mata a Acessibilidade */
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;


}


